/* colors */
$white: #fff;
$black: #000;
$grey: #eee;

$brown: #383639;
$sienna: #be7f38;
$ochre: #e6c47c;
$beige: #faf6eb;
$green: #558c74;

/* dimensions */
$bubble-width: 400px;
$bubble-height: 400px;

/* breakpoints */
$mobile: '(max-width: 720px)';